*{
    margin: 0;
    padding: 0;

}

h1, h2, h3 {
    text-align: center;
}


.first-half #headline{
    max-width: 120rem;
    z-index: 1;
    font-size: 10rem;
    position: absolute;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first-half{
    background-image: url(pexels-pixabay-159291.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    max-width: 120rem;
    height: 50rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.second-half{
    top: 60rem;
    left: 0rem;
    max-width: 120rem;

}

.second-half #line1, .second-half #line2 {
    display: flex;
    max-width: 120rem;
}

.second-half #line1{
    flex-direction: column;
}

.second-half #line2{
    flex-direction: column-reverse;
}


.Box1, .Box2, .Box3, .Box4{
    max-width: 60rem;
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.Box1 h2, .Box4 h2{ 
    transform: translate(0%, -5%);
    margin: 2rem;
}

.Box2, .Box3{
    background-size: cover;
    text-align: center;
    background-color: black;
}

.Box1{
    color: black;
    text-align: center;
    background-color: white;
}

.Box2{
    background-image: url(pexels-nicolas-postiglioni-991970.jpg);
    background-position: top;
    float: right;
}

.Box3{
    background-image: url(pexels-helena-lopes-1796698.jpg);
    background-position: center;
    float: left;
}

.Box4{
    color: black;
    text-align: center;
    background-color: white;
    float: right;
}


.bottomLine{
    position: relative;
    max-width: 120rem;
    height: 10rem;
    background-color: black;
    text-align: center;
}

.bottomLine .btn1{
    position: absolute;
    padding: 1rem;
    top: 3rem;
    transform: translate(-50%, 0%);
    align-items: center;
    font-size: xx-large;
    color: black;
    cursor: pointer;
    border-radius: .5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-style: none;
}


.bottomLine .btn1:active {
    background-color:white;
    transform: translate(-50%, 5%);
  }


@media screen and (max-width: 60rem){
	.first-half #headline{
        font-size: 5rem;
    }

    .Box1, .Box2, .Box3, .Box4{
        height: 20rem;
        display: flex;
    }

}

@media screen and (min-width: 50rem){
    
    .Box1, .Box2, .Box3, .Box4{
    width: 60rem;
    height: 20rem;
    display: flex;
}

.second-half #line1, .second-half #line2{
    display: flex;
    max-width: 120rem;
    flex-direction: row;
}
    
    
}
